.h1 {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: clamp(1.5rem, 3vw, 2rem);

  position: sticky;
  top: 0;

  padding-top: clamp(1rem, 3vw, 2rem);

  background-color: var(--modal-bg);

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.p {
  margin: 1rem 0;
  text-align: justify;
}