.row-container {
  display: flex;
  width: 100%;

  & > *:first-child {
    flex: 2;
  }

  & > *:last-child {
    flex: 1;
  }

  & > *:nth-child(3) {
    flex: 1;
    margin-inline: .5rem;
  }

  .break {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .row-container {
    flex-wrap: wrap;
    & > *:first-child {
      flex: 1;
      width: 100%;
      min-width: unset !important;
      margin-bottom: .2rem;
    }
    & > *:last-child {
      flex: 1;
    }

    & > *:nth-child(3) {
      flex: 1;
      margin: 0;
      margin-right: .5rem;
    }  

    & > *:nth-child(2) {
      flex: 1;
    }

    .break {
      display: block;
      height: 0;
      flex-basis: 100%;
    }
  }
}
