.switch-container {
  display: flex;
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    width: 45px;
    height: 20px;
    background-color: rgb(0, 0, 0, 0.2);
    display: block;
    border-radius: 50em;
    position: relative;
    transition: 0.3s;
    padding: 4px;
    box-sizing: content-box;
  }
  label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50em;
    transition: 0.3s;
  }
  input:checked + label {
    background-color: #5549f1;
  }
  input:checked + label:after {
    transform: translateX(calc(100% + 5px));
  }
}
