@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-colors;
    }
    body {
      @apply bg-blue-100;
      @apply dark:bg-slate-800;
    }
  }
  

body, #__next{
    min-height: 100vh;
}

#__next {
    display: flex;
    align-items: center;
    justify-content: center;
}